@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+KR&display=swap');


.header {
  width: 90%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  &Inner {
    border-top: 2px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
  }

  &Title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;

  }

  &Email {

  }

  &Avaliable {
    font-size: 14px;

    span {
      display: block;
      position: relative;
      padding-left: 25px;

      &.on:before{
        background: greenyellow;
      }
      &.off:before{
        background: red;
      }
      &:before{
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        content: '';
      }
    }

  }

  &SubTitle {
    position: absolute;
    bottom: -30px;
    left: 10px;
    font-size: 16px;
    font-weight: 400;
  }
}